<app-header [nomPage]="'activities.title' | translate" [showProfilePicture]="true"></app-header>

<ion-content class="ion-padding section-alt">
  <div class="ion-padding">
    <h2 class="text-center mb-4 fw-bold text-white">📆 {{ 'activities.our_activities' | translate }}</h2>

    <ion-row class="ion-justify-content-center" *ngIf="activites && activites.length > 0">
      <ion-col size="12" size-md="6" size-lg="4" *ngFor="let act of activites" class="mb-4">
        <ion-card class="glass-card shadow-lg ion-padding" >

          <ion-card-header>
            <ion-card-subtitle class="text-muted small fst-italic">
              {{ act.titre }}
            </ion-card-subtitle>
            <ion-card-title class="fw-bold fs-4">{{ act.description }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p class="mb-3 text-secondary">{{ act.type || ('activities.no_description' | translate) }}</p>
            <p class="fw-semibold">{{ 'activities.coach' | translate }} : {{ act.nom }}  {{ act.prenom }}</p>
            <p class="fw-semibold">{{ 'activities.installation' | translate }} : {{ act.installation}}</p>

            <div *ngIf="userConnecter.role !== 'admin'">
              <ng-container *ngIf="userConnecter.role === 'adherent'; else notAdherent">
                <ion-button expand="block" color="primary" (click)="participerActivite(act)">
                  🎟️ {{ 'activities.participate' | translate }}
                </ion-button>
              </ng-container>
              <ng-template #notAdherent>
                <p class="text-danger fst-italic mt-3">
                  {{ 'activities.must_be_member' | translate }}
                {{ 'activities.admin_participation_disabled' | translate }}
              </ng-template>
            </div>

            <div *ngIf="userConnecter.role === 'admin'" class="text-center text-muted fst-italic mt-2">
              {{ 'activities.admin_bled' | translate }}
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <div *ngIf="activites.length === 0" class="text-center text-light mt-5">
      {{ 'activities.no_activities' | translate }}
    </div>
  </div>
</ion-content>
 