<!-- <ion-header  >
  <ion-toolbar color="light" class="ion-padding"  >
    <ion-title>Réservation pour {{ reservation.activite }}</ion-title>
  </ion-toolbar>
</ion-header> -->
<app-header nomPage="Réservation pour {{ reservation.activite }}" ></app-header>

<ion-content class="reservation-content">

  <!-- Club name -->
  <div class="club-name">
    <ion-chip>
      <ion-label>Mon Club Sportif</ion-label>
    </ion-chip>
  </div>

  <!-- Date selector -->
  <div class="date-carousel">
    <ion-icon name="chevron-back-outline" (click)="prevDates()"></ion-icon>
    <div class="date-list">
      <div *ngFor="let date of weekDates" [class.active]="selectedDate === date" (click)="selectDate(date)"
        class="date-item">
        <div class="day">{{ date | date: 'dd' }}</div>
        <div class="weekday">{{ date | date: 'EEE' }}</div>
      </div>
    </div>
    <ion-icon name="chevron-forward-outline" (click)="nextDates()"></ion-icon>
  </div>




  <!-- Date choisie -->
  <div class="subtitle">
    {{ selectedDate | date: 'fullDate' }}
  </div>

  <!-- Détail activité -->
  <p class="activite-detail">Activité sélectionnée : {{ reservation.activite }}</p>

  <!-- Exemple créneaux -->
   <div class="instruction-text" *ngIf="sessionsByDate.length != 0">
      <ion-icon name="hand-left-outline" style="color: #00c896;"></ion-icon>
               Cliquez sur un créneau disponible pour réserver
    </div>

  <ion-item *ngFor="let session of sessionsByDate" lines="none" class="session-card"
    (click)="opemModalInformationReservation(session)">

    <ion-label >

      <div class="session-detail">
        <ion-icon name="today-outline"></ion-icon>
        <span style="margin-left: 5px;">{{ session.date | date: 'fullDate' }}</span>
      </div>
      <div class="session-detail">
        <ion-icon name="time-outline"></ion-icon>
        <span style="margin-left: 5px;">{{ session.heure_debut }} - {{ session.heure_fin }}</span>
      </div>

      <div class="session-detail">
        <ion-icon name="people-outline"></ion-icon>
        <span style="margin-left: 5px;">Capacité : {{ session.capacite }}</span>
      </div>

      <div class="session-detail">
        <ion-icon [name]="getIconName(session.type)"></ion-icon>
        <span style="margin-left: 5px;">Installations disponibles : {{ session.nbr }}</span>
      </div>
    </ion-label>

    <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
  </ion-item>
  <!--     Aucun créneau  -->
<ion-item *ngIf="sessionsByDate.length === 0">
  <ion-label class="ion-text-center">
    <ion-icon name="alert-circle-outline" color="medium" style="margin-right: 8px;"></ion-icon>
    Aucun créneau disponible pour le moment
  </ion-label>
</ion-item>

</ion-content>