<div class="popup-modal">
  <button class="close-btn" (click)="close()" aria-label="Fermer">
    <ion-icon name="close-outline"></ion-icon>
  </button>
  <form [formGroup]="accountForm" (ngSubmit)="submit()" class="popup-form">
    <div class="avatar-premium mb-2 mx-auto">
      <ion-icon name="person-circle" class="gold-avatar"></ion-icon>
    </div>
    <ion-list lines="none">
      <ion-item>
        <ion-label position="floating">{{ 'profil.nom' | translate }}</ion-label>
        <ion-input formControlName="nom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'profil.prenom' | translate }}</ion-label>
        <ion-input formControlName="prenom"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'profile.email' | translate }}</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'profile.phone' | translate }}</ion-label>
        <ion-input formControlName="telephone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">{{ 'profile.profession' | translate }}</ion-label>
        <ion-input formControlName="profesion"></ion-input>
      </ion-item>
    </ion-list>
    <div *ngIf="errorMsg" class="text-danger small mt-2">{{ errorMsg | translate }}</div>
    <ion-button expand="block" type="submit" [disabled]="loading || accountForm.invalid" class="mt-3 gold-btn">
      <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
      <span *ngIf="!loading">{{ 'settings.save' | translate }}</span>
    </ion-button>
  </form>
</div>
