<ion-card>
  <ion-card-header>
    <ion-card-title class="ion-padding">{{ 'modals.payment.title' | translate }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-radio-group [(ngModel)]="methode">
      <ion-item>
        <ion-label class="ion-margin">{{ 'modals.payment.stripe' | translate }}</ion-label>
        <ion-radio slot="start" value="stripe"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label class="ion-margin">{{ 'modals.payment.paypal' | translate }}</ion-label>
        <ion-radio slot="start" value="paypal"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label class="ion-margin">{{ 'modals.payment.cmi' | translate }}</ion-label>
        <ion-radio slot="start" value="cmi"></ion-radio>
      </ion-item>
      <!-- <ion-item *ngIf="userRole!='user'">
        <ion-label class="ion-margin">{{ 'modals.payment.cash' | translate }}</ion-label>
        <ion-radio slot="start" value="cache"></ion-radio>
      </ion-item> -->
    </ion-radio-group>
    <div style="display: flex; flex-direction: row; gap: 10px; margin-top: 20px;">
      <ion-button expand="full" (click)="close(true)">
        {{ 'modals.payment.confirm' | translate }}
      </ion-button>
      <ion-button expand="full" color="medium" (click)="close(false)">
        {{ 'common.cancel' | translate }}
      </ion-button>
    </div>
  </ion-card-content>
</ion-card>