<ion-list>
  <ng-container *ngIf="isLoggedIn; else notLogged">
    
    <ion-item button (click)="navigateTo('/userprofile')">
      <ion-icon name="person-circle-outline" class="ion-margin-end" slot="start"></ion-icon>
      {{ 'profile.view_profile' | translate }}
    </ion-item>
    <ion-item button (click)="navigateTo('/settings')">
      <ion-icon name="settings-outline" class="ion-margin-end" slot="start"></ion-icon>
      {{ 'profile.settings' | translate }}
    </ion-item>
    <ion-item button (click)="confirmLogout()">
      <ion-icon name="log-out-outline" class="ion-margin-end" slot="start"></ion-icon>
      {{ 'profile.logout' | translate }}
    </ion-item>
  </ng-container>
  <ng-template #notLogged>
    <ion-item button (click)="navigateTo('/login')">
      <ion-icon name="log-in-outline" class="ion-margin-end" slot="start"></ion-icon>
      {{ 'profile.login' | translate }}
    </ion-item>
    <ion-item button (click)="navigateTo('/register')">
      <ion-icon name="person-add-outline" class="ion-margin-end" slot="start"></ion-icon>
      {{ 'profile.register' | translate }}
    </ion-item>
  </ng-template>
</ion-list>