<footer class="footer-dark mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-3">
        <h5 class="fw-bold">{{ 'footer.club' | translate }}</h5>
        <p>{{ 'footer.address' | translate }}<br>{{ 'footer.phone' | translate }}<br>{{ 'footer.email' | translate }}</p>
      </div>
      <div class="col-md-6 text-md-end">
        <a href="#" class="me-3">{{ 'footer.home' | translate }}</a>
        <a href="#">{{ 'footer.services' | translate }}</a>
        <a href="/contact">{{ 'footer.contact' | translate }}</a>
      </div>
    </div>
    <div class="text-center mt-3 small">
      {{ 'footer.copyright' | translate }}
    </div>
  </div>
</footer>
