<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      {{ mode === 'add' ? ('modals.installation.title' | translate) : mode === 'edit' ? ('modals.installation.edit_title' | translate) : ('installation.details' | translate) }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="installationForm" (ngSubmit)="submitForm()">
    <ion-item>
      <ion-label position="floating">{{ 'modals.installation.nom' | translate }}</ion-label>
      <ion-input formControlName="nom"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'modals.installation.type' | translate }}</ion-label>
      <ion-input formControlName="type"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'modals.installation.capacity' | translate }}</ion-label>
      <ion-input type="number" formControlName="capacite"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'modals.installation.available' | translate }}</ion-label>
      <ion-toggle formControlName="disponibilite"></ion-toggle>
    </ion-item>

    <ion-button expand="block" type="submit" color="success" 
                *ngIf="mode !== 'detail'" 
                [disabled]="installationForm.invalid">
      {{ mode === 'edit' ? ('common.edit' | translate) : ('common.add' | translate) }}
    </ion-button>
  </form>
</ion-content>
