<app-header [nomPage]="'participation_history.dashboard_title' | translate"></app-header>

<ion-content class="ion-padding">

  <!-- Segment de sélection -->
  <ion-segment [(ngModel)]="viewType" (ionChange)="switchView(viewType)">
    <ion-segment-button value="evenements">
      <ion-label>{{ 'participation_history.events' | translate }}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="activites">
      <ion-label>{{ 'participation_history.activities' | translate }}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <!-- Affichage des événements -->
  <ng-container *ngIf="viewType === 'evenements'">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-padding">{{ 'participation_history.event_list' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row
            class="ion-text-center fw-bold bg-gold-contrast rounded-3 shadow-sm mb-2 py-2 reservation-header-row">
            <ion-col>{{ 'participation_history.event_name' | translate }}</ion-col>
            <ion-col>{{ 'participation_history.date' | translate }}</ion-col>
            <ion-col>{{ 'participation_history.location' | translate }}</ion-col>
            <ion-col>{{ 'participation_history.description' | translate }}</ion-col>
          </ion-row>

          <ion-row *ngFor="let part of participation" class="ion-text-center reservations-row">
            <ion-col>{{ part.nom }}</ion-col>
            <ion-col>{{ part.date | date:'dd/MM/yyyy' }}</ion-col>
            <ion-col>{{ part.lieu }}</ion-col>
            <ion-col>{{ part.description }}</ion-col>
          </ion-row>

          <ion-row *ngIf="!participation.length" class="ion-text-center">
            <ion-col size="12">{{ 'participation_history.no_events_found' | translate }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-container>

  <!-- Affichage des activités -->
  <ng-container *ngIf="viewType === 'activites'">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-padding">{{ 'participation_history.activity_list' | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-grid>
          <ion-row
            class="ion-text-center fw-bold bg-gold-contrast rounded-3 shadow-sm mb-2 py-2 reservation-header-row">
            <ion-col class="text-dark">{{ 'participation_history.title_column' | translate }}</ion-col>
            <ion-col class="text-dark">{{ 'participation_history.description' | translate }}</ion-col>
            <ion-col class="text-dark">{{ 'participation_history.type' | translate }}</ion-col>
            <ion-col class="text-dark">{{ 'participation_history.participation_date' | translate }}</ion-col>
            <ion-col class="text-dark">{{ 'participation_history.participation_time' | translate }}</ion-col>
            <ion-col class="text-dark">{{ 'participation_history.assigned_coach' | translate }}</ion-col>
            <ion-col class="text-dark">{{ 'participation_history.installation' | translate }}</ion-col>
          </ion-row>

          <ion-row *ngFor="let act of activites" class="ion-text-center reservations-row">
            <ion-col>{{ act.titre }}</ion-col>
            <ion-col>{{ act.description }}</ion-col>
            <ion-col>{{ act.type }}</ion-col>
            <ion-col>{{ act.date_participation | date:'dd/MM/yyyy' }}</ion-col>
            <ion-col>{{ formatTime(act.heure_participation) }}</ion-col>
            <ion-col>{{ act.nom }} {{ act.prenom }}</ion-col>
            <ion-col>{{ act.installation }}</ion-col>
          </ion-row>

          <ion-row *ngIf="!activites.length" class="ion-text-center">
            <ion-col size="12">{{ 'participation_history.no_activities_found' | translate }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </ng-container>

</ion-content>