<section class="hero text-white text-center">
  <div class="hero-images">
    <div class="hero-img" style="background-image: url('/assets/images/Foot.jpg');"></div>
    <div class="hero-img" style="background-image: url('/assets/images/Padel.jpg');"></div>
    <div class="hero-img" style="background-image: url('/assets/images/Piscine.jpg');"></div>
    <div class="hero-img" style="background-image: url('/assets/images/Tennis.jpg');"></div>
  </div>

  <!-- Contenu centré -->
  <div class="hero-content container">
    <h1 class="display-3 mb-4 fw-bold">{{ 'home.hero.title' | translate }}</h1>
    <p class="lead mb-5">{{ 'home.hero.subtitle' | translate }}</p>
    <a class="btn btn-gold btn-lg px-5"
       href="https://royaltennisclubdefes.com/"
       target="_blank" rel="noopener">
      {{ 'home.hero.cta' | translate }}
    </a>
  </div>
</section>
