.login-page {
  --background: #121212;
  color: #fff;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

ion-card {
  width: 100%;
  max-width: 400px;
}
.options {
  margin-top: 10px;
  font-size: 0.9em;
}
.a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* facultatif, pour centrer verticalement dans la page */
}
.options a {
  text-decoration: none;
  color: #007bff;
}

.options a:hover {
  text-decoration: underline;
}