<app-header [nomPage]="'reservation.my_reservations' | translate"></app-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-padding reservation-title">{{ 'reservation.list' | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-text-center fw-bold bg-gold-contrast rounded-3 shadow-sm mb-2 py-2 reservation-header-row">
          <ion-col>{{ 'reservation.date_reservation' | translate }}</ion-col>
          <ion-col>{{ 'reservation.date_creneau' | translate }}</ion-col>
          <ion-col>{{ 'reservation.heure_debut' | translate }}</ion-col>
          <ion-col>{{ 'reservation.heure_fin' | translate }}</ion-col>
          <ion-col>{{ 'reservation.statut' | translate }}</ion-col>
          <ion-col>{{ 'reservation.installation' | translate }}</ion-col>
        </ion-row>
        <ion-row *ngFor="let res of reservations" class="ion-text-center reservations-row"
          [ngClass]="getStatutColor(res.statut)">
          <ion-col>{{ res.date_jour_reservation | date:'dd/MM/yyyy HH:mm:s' }}</ion-col>
          <ion-col>{{ res.creneau_date | date:'dd/MM/yyyy' }}</ion-col>
          <ion-col>{{ res.heure_debut }}</ion-col>
          <ion-col>{{ res.heure_fin }}</ion-col>
          <ion-col>{{res.statut}}</ion-col>
          <ion-col> {{res.installation}} </ion-col>
        </ion-row>
        <ion-row *ngIf="!reservations.length" class="ion-text-center">
          <ion-col size="12">{{ 'reservation.empty' | translate }}</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>