<ion-toolbar  color="success" >
  <!-- Bouton menu à gauche -->
  <ion-buttons slot="start">
    <ion-button (click)="toggleMenu()">
      <ion-icon slot="icon-only" name="menu-outline" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>

  <!-- Titre centré -->
  <ion-title class="ion-text-start" style="color: aliceblue;">
    {{nomPage}}
  </ion-title>

  <!-- Boutons à droite -->
  <ion-buttons slot="end">
    <!-- Profil -->
    <ion-button (click)="profile()">
      <ion-icon name="person-circle-outline" slot="icon-only" color="light"></ion-icon>
    </ion-button>

    <!-- Déconnexion -->
    <ion-button (click)="logout()">
      <ion-icon name="log-out-outline" slot="icon-only" color="light"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>
