<ion-app>
  <ion-menu menuId="main-menu" contentId="main-content" type="overlay" swipeGesture="true" class="menu-sport" *ngIf="loginIn">
    <ion-header>
      <ion-toolbar class="menu-toolbar">
        <ion-title class="ion-padding fw-bold">
          <img src="assets/images/club-logo.png" alt="Logo"
            style="width:36px;height:36px;border-radius:50%;margin-right:10px;border:2px solid var(--color-gold);background:#fff;">
          {{ 'menu.title' | translate }}
        </ion-title>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding menu-content" *ngIf="loginIn">
      <ion-list>
        <ion-item button (click)="navigateTo('/home'); $event.stopPropagation()" menuClose>
          <ion-icon name="home-outline" slot="start" color="warning"></ion-icon>
          <ion-label class="ion-margin fw-bold">{{ 'menu.home' | translate }}</ion-label>
        </ion-item>

        <ion-item button (click)="navigateTo('/statistique-admin'); $event.stopPropagation()" menuClose *ngIf="user?.role !== 'adherent'">
          <ion-icon name="stats-chart-outline" slot="start" color="warning"></ion-icon>
          <ion-label class="ion-margin fw-bold">{{ 'menu.statistics' | translate }}</ion-label>
        </ion-item>

        <ion-item button (click)="toggleDashboardSubmenu()" *ngIf="user?.role !== 'adherent'" menuClose>
          <ion-icon name="grid-outline" slot="start" color="warning"></ion-icon>
          <ion-label class="ion-margin fw-bold">{{ 'menu.dashboard' | translate }}</ion-label>
          <ion-icon [name]="isDashboardOpen ? 'chevron-up-outline' : 'chevron-down-outline'" slot="end" color="warning"></ion-icon>
        </ion-item>

        <ion-list *ngIf="isDashboardOpen && user?.role !== 'adherent'" class="submenu">
          <ion-item lines="none" button (click)="navigateTo('/dashboard/utilisateur')" menuClose>
            <ion-icon name="people-outline" slot="start" color="warning"></ion-icon>
            <ion-label class="ion-margin">{{ 'menu.users' | translate }}</ion-label>
          </ion-item>
          <ion-item lines="none" button (click)="navigateTo('/dashboard/adherants')" menuClose>
            <ion-icon name="people-outline" slot="start" color="warning"></ion-icon>
            <ion-label class="ion-margin">{{ 'menu.adherants' | translate }}</ion-label>
          </ion-item>
          <ion-item lines="none" button (click)="navigateTo('/dashboard/activites')" menuClose>
            <ion-icon name="bicycle-outline" slot="start" color="warning"></ion-icon>
            <ion-label class="ion-margin">{{ 'menu.activities' | translate }}</ion-label>
          </ion-item>
          <ion-item lines="none" button (click)="navigateTo('/dashboard/reservations')" menuClose>
            <ion-icon name="calendar-outline" slot="start" color="warning"></ion-icon>
            <ion-label class="ion-margin">{{ 'menu.reservations' | translate }}</ion-label>
          </ion-item>
          <ion-item lines="none" button (click)="navigateTo('/dashboard/installation')" menuClose>
            <ion-icon name="business-outline" slot="start" color="warning"></ion-icon>
            <ion-label class="ion-margin">{{ 'menu.installations' | translate }}</ion-label>
          </ion-item>
          <ion-item lines="none" button (click)="navigateTo('/dashboard/creneaux')" menuClose>
            <ion-icon name="time-outline" slot="start" color="warning"></ion-icon>
            <ion-label class="ion-margin">{{ 'menu.slots' | translate }}</ion-label>
          </ion-item>
          <ion-item lines="none" button (click)="navigateTo('/evenements')" menuClose>
            <ion-icon name="calendar-outline" slot="start" color="warning"></ion-icon>
            <ion-label class="ion-margin">{{ 'menu.events' | translate }}</ion-label>
          </ion-item>
        </ion-list>

        <ion-item button (click)="navigateTo('/reservation/home')" menuClose>
          <ion-icon name="clipboard-outline" slot="start" color="warning"></ion-icon>
          <ion-label class="ion-margin fw-bold">{{ 'menu.reservation' | translate }}</ion-label>
        </ion-item>
        <ion-item button (click)="navigateTo('/historique-reservation')" menuClose>
          <ion-icon name="clipboard-outline" slot="start" color="warning"></ion-icon>
          <ion-label class="ion-margin fw-bold">{{ 'menu.historique-reservation' | translate }}</ion-label>
        </ion-item>
        <ion-item button (click)="navigateTo('/historique-participation-evenement')" menuClose>
          <ion-icon name="clipboard-outline" slot="start" color="warning"></ion-icon>
          <ion-label class="ion-margin fw-bold">{{ 'menu.history-participation' | translate }}</ion-label>
        </ion-item>
        <ion-item button (click)="navigateTo('/contact')" menuClose>
          <ion-icon name="mail-outline" slot="start" color="warning"></ion-icon>
          <ion-label class="ion-margin fw-bold">{{ 'menu.contact' | translate }}</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <app-header 
    nomPage="Royal Tennis Club de Fès" 
    menuId="main-content"
    [showServicesText]="true"
    [showProfilePicture]="true"
    [showProfileText]="false"
    [showLogoutText]="false"
    [profilePictureUrl]="user?.photoUrl || 'assets/images/user_img.jpg'">
  </app-header>

  <ion-router-outlet id="main-content" class="main-content-adapt"></ion-router-outlet>
</ion-app>
