<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ 'team.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ 'team.title' | translate }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="text-center">
          👥 {{ 'team.title' | translate }}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-segment [(ngModel)]="selectedCategory" (ionChange)="filterTeam()">
          <ion-segment-button value="all">
            <ion-label>{{ 'common.all' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="management">
            <ion-label>{{ 'team.management' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="coaches">
            <ion-label>{{ 'team.coaches' | translate }}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="staff">
            <ion-label>{{ 'team.staff' | translate }}</ion-label>
          </ion-segment-button>
        </ion-segment>

        <div class="team-grid ion-margin-top">
          <ion-card *ngFor="let member of filteredTeam" class="team-member-card">
            <img [src]="member.photo || 'assets/images/default-avatar.png'" [alt]="member.name">
            <ion-card-header>
              <ion-card-title>{{ member.name }}</ion-card-title>
              <ion-card-subtitle>{{ member.position }}</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <p *ngIf="member.description">{{ member.description }}</p>
              <ion-button fill="clear" size="small" (click)="contactMember(member)">
                <ion-icon name="mail-outline" slot="start"></ion-icon>
                {{ 'team.contact_member' | translate }}
              </ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
