<ion-header >
  <ion-toolbar color="primary">
    <ion-title  class="ion-padding" >
      {{ mode === 'add' ? ('modals.creneau.title' | translate) : (mode === 'edit' ? ('modals.creneau.edit_title' | translate) : ('creneaux.details' | translate)) }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'common.cancel' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="creneauForm" (ngSubmit)="submit()">

    <ion-item>
      <ion-label position="floating">{{ 'modals.creneau.date' | translate }}</ion-label>
      <ion-input
        type="date"
        formControlName="date"
        required
        [attr.aria-invalid]="creneauForm.get('date')?.invalid ? 'true' : 'false'"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'modals.creneau.start_time' | translate }}</ion-label>
      <ion-input
        type="time"
        formControlName="heure_debut"
        required
        [attr.aria-invalid]="creneauForm.get('heure_debut')?.invalid ? 'true' : 'false'"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">{{ 'modals.creneau.end_time' | translate }}</ion-label>
      <ion-input
        type="time"
        formControlName="heure_fin"
        required
        [attr.aria-invalid]="
          creneauForm.get('heure_fin')?.invalid || creneauForm.hasError('invalidTime') ? 'true' : 'false'
        "
      ></ion-input>
      <ion-note slot="error" color="danger" *ngIf="creneauForm.hasError('invalidTime')">
        {{ 'creneaux.time_error' | translate }}
      </ion-note>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'modals.creneau.installation' | translate }}</ion-label>
      <ion-select formControlName="installation_id" interface="popover" required>
        <ion-select-option *ngFor="let inst of installations" [value]="inst.id">{{ inst.nom }} - {{ inst.type }}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>{{ 'modals.creneau.available' | translate }}</ion-label>
      <ion-toggle formControlName="disponible"></ion-toggle>
    </ion-item>

    <ion-button expand="block" type="submit" color="primary" [disabled]="creneauForm.invalid || mode === 'detail'">
      {{ mode === 'add' ? ('common.add' | translate) : ('common.edit' | translate) }}
    </ion-button>
  </form>
</ion-content>
