<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-padding">
       <!-- {{ mode === 'add' ? 'Ajouter une activité' : (mode === 'edit' ? 'Éditer une activité' : 'Détails') }} -->
      Nombre d'installations à réserver
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Annuler</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="nbrForm" (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="floating">Nombre d'installations à réserver</ion-label>
      <ion-input
        type="number"
        min="1"
        formControlName="nombre_installations"
        required
      ></ion-input>
    </ion-item>
     <ion-item>
      <ion-label position="floating">Nombre de personne</ion-label>
      <ion-input
        type="number"
        min="1"
        formControlName="nombre_personne"
        required
      ></ion-input>
    </ion-item>

    <ion-item *ngIf="typeInstallation === 'Tennis'">
      <ion-label class="ion-padding" >location raquette ?</ion-label>
      <ion-checkbox
        slot="start"
        formControlName="avec_coach"
      ></ion-checkbox>
    </ion-item>

    <ion-item  *ngIf="typeInstallation === 'Padel'">
      <ion-label position="floating">Nombre des raquettes à reserver</ion-label>
      <ion-input
        type="number"
        min="0"
        formControlName="nombre_raquetes"
        required
      ></ion-input>
    </ion-item>

    <ion-button  type="submit"  class="ion-margin" [disabled]="nbrForm.invalid">
      <!-- {{ mode === 'add' ? 'Ajouter' : 'Modifier' }} -->
        Reserver
    </ion-button>
  </form>
</ion-content>
