<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-padding">
      {{ 'modals.reservation.title' | translate }}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">{{ 'common.cancel' | translate }}</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="nbrForm" (ngSubmit)="submit()">
    <ion-item>
      <ion-label position="floating">{{ 'modals.reservation.facilities_count' | translate }}</ion-label>
      <ion-input
        type="number"
        min="1"
        formControlName="nombre_installations"
        required
      ></ion-input>
    </ion-item>
     <ion-item>
      <ion-label position="floating">{{ 'modals.reservation.people_count' | translate }}</ion-label>
      <ion-input
        type="number"
        min="1"
        formControlName="nombre_personne"
        required
      ></ion-input>
    </ion-item>

    <ion-item *ngIf="typeInstallation === 'Tennis'">
      <ion-label class="ion-padding" >location raquette ?</ion-label>
      <ion-checkbox
        slot="start"
        formControlName="avec_coach"
      ></ion-checkbox>
    </ion-item>

    <ion-item *ngIf="typeInstallation === 'Padel'">
      <ion-label class="ion-text-wrap">
        ⚠️ Veuillez apporter vos propres raquettes. <br>
        Un service de location est également disponible sur place si nécessaire.
      </ion-label>
    </ion-item>


    <ion-button  type="submit"  class="ion-margin" [disabled]="nbrForm.invalid">
      <!-- {{ mode === 'add' ? 'Ajouter' : 'Modifier' }} -->
        Reserver
    </ion-button>
  </form>
</ion-content>
